<script type="text/javascript">
    function printImg(source) {
        var win = window.open("");
        win.document.write(
            '<img src="' +
                source +
                '" onload="window.print();window.close()" />'
        );
        win.focus();
    }
</script>
<div class="card">
    <h5 class="card-header">QR Code</h5>
    <div class="card-body text-right noprint">
        <img
            width="{{image_width}}"
            src="data:image/svg+xml;base64,{{image_svg}}"
        />
    </div>
    <div class="card-footer text-end noprint">
        <button
            onclick="window.open('data:image/png;base64,{{image_png}}', '_blank').focus();"
            ;
            class="btn btn-xs btn-primary"
        >
            <span class="mdi mdi-download" aria-hidden="true"></span> Get PNG
        </button>
        <button
            onclick="printImg('data:image/svg+xml;base64,{{image_svg}}')"
            ;
            class="btn btn-xs btn-primary"
        >
            <span class="mdi mdi-printer" aria-hidden="true"></span> Print
        </button>
    </div>
</div>
